.landing-page{
    display:flex;
    /* justify-content:center; */
    align-items:center;
    flex-direction: column;
    height:100vh;
    background-color: rgb(255, 253, 253);
    /* backgroundImage:url("../../../images/spotify-background.png") */
}